{% include 'base.html' %} {% include 'navigation.html' %}{% block content%}
<h1 class="text-center" style="margin-top: 50px">About us</h1>
<div class="container" style="margin-top: 100px">
  <div class="row"> <div class="col-md-6">
      <h1 class="strong">Who we are and<br />what we do</h1>
      <p class="lead">
        this is the <br />
        ease
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque
        labore eius voluptate tempora, sint perferendis eaque. Nesciunt
        reiciendis iste laudantium ullam nisi, corrupti consequuntur ipsum,
        nostrum illum assumenda culpa?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        deleniti officiis quidem natus eveniet minus recusandae alias saepe
        eligendi dolorem, illum, facere in harum impedit nemo atque ea inventore
        quod.
      </p> 
    </div></div>
  
    
  

    <div class="row">
      <div class="site-heading text-center">
        <h3>our team</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          <br />Soluta, dignissimos! Odit natus adipisci delectus ab qui
          voluptate, fugit in, itaque quam praesentium ipsam sunt id deserunt
          atque sequi harum ea?
        </p>
        <div class="border"></div>
      </div>
    </div>
    {% endblock content%}
  </div>
</div>

{%include 'footer.html'%}