{% include 'base.html' %} {% include 'navigation.html' %} {% block content %}
{%if error == "no"%}
<script>
  alert("Record saved successfully");
  window.location = "{% url 'view_informe_anat'%}";
</script>
{% endif %} {%if error == "yes"%}
<script>
  alert("something went wrong please try again");
  //   window.location = "{% url 'home'%}";
</script>
{% endif %}

<div class="container">
  <h2 class="text-center">Add Informe Anatomico</h2>
  
  <form method="POST">
    
    {% csrf_token %}
    <label>Codigo de informe</label>
    <input type="text" class="form-control" name="Codigo" />
    <label>Nombres del paciente</label>
    <input type="text" class="form-control" name="Nombres" />
    <label>Apellidos del paciente</label>
    <input type="text" class="form-control" name="Apellidos" />
    <label>Edad</label>
    <input type="text" class="form-control" name="Edad" />
    <label>Medico</label>
    <input type="text" class="form-control" name="Medico" />
    <label>Hospital</label>
    <input type="text" class="form-control" name="Hospital" />
    <label>Muestra</label>
    <input type="text" class="form-control" name="Muestra" />
    <label>Diagnostico</label>
    <input type="text" class="form-control" name="Diagnostico" />
    <label>Recepcion</label>
    <input type="date" class="form-control" name="Recepcion" />
    
    <label>MACRO</label>
    <select class="custom-select mb-4" 
    name="macros1" 
    hx-get="{% url 'macros2' %}"
    hx-trigger="change"
    hx-target="#macros2">

    <option selected>Open this select menu macros</option>
    {% for i in vectorMacros %}
        <option value="{{i}}">{{ i }}</option>
    {% endfor %}
    </select>
    <div id="macros2">
      {% include 'macros2.html' %} 
    </div>
    
    <label>MICRO</label>
    <select class="custom-select mb-4" 
    name="micros1" 
    hx-get="{% url 'micros2' %}"
    hx-trigger="change"
    hx-target="#micros2">

    <option selected>Open this select menu</option>
    {% for i in vector %}
        <option value="{{i}}">{{ i }}</option>
    {% endfor %}
    </select>
    <div id="micros2">
      {% include 'micros2.html' %} 
    </div>
    
    
    


    <!-- <label>Conclusion</label>
    <select name="Conclusion" class="form-control">
      {% for i,j in conclusion%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select> -->

    <label>Especimen</label>
    <input type="text" class="form-control" name="Especimen" />

    <label>Conclusion</label>
    <input type="text" class="form-control" name="Conclusion" />

    <label>Fecha Informe</label>

    <input type="date" class="form-control" name="FechaPie" />

    <label> Lugar </label>
    <select name="Lugar" class="form-control">
      {% for i,j in lugar%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label>Doctor Name</label>
    <select name="doctor" class="form-control">
      {% for i in doctor %}
      <option value="{{i.Name}}">{{i.Name}}</option>
      {% endfor %}
    </select>

    <!-- <form method="POST" name="CalidadDeMuestra" class="form-control">
      {{ calidad }}
    </form> -->
    <input type="submit" value="submit" class="form-control btn btn-primary" />
  </form>


</div>

{%endblock content %}
