{% include 'base.html' %} {% include 'navigation.html' %} {% block content %}
{%if error == "no"%}
<script>
  alert("Record saved successfully");
  window.location = "{% url 'view_informe'%}";
</script>
{% endif %} {%if error == "yes"%}
<script>
  alert("something went wrong please try again");
  //   window.location = "{% url 'home'%}";
</script>
{% endif %}

<div class="container">
  <h2 class="text-center">Add Informe Citologico</h2>
  <form method="POST">
    {% csrf_token %}
    <label>Codigo de informe</label>
    <input type="text" class="form-control" name="Codigo" />
    <label>Nombres del paciente</label>
    <input type="text" class="form-control" name="Nombres" />
    <label>Apellidos del paciente</label>
    <input type="text" class="form-control" name="Apellidos" />
    <label>Edad</label>
    <input type="text" class="form-control" name="Edad" />
    <label>Medico</label>
    <input type="text" class="form-control" name="Medico" />
    <label>Hospital</label>
    <input type="text" class="form-control" name="Hospital" />
    <label>Muestra</label>
    <input type="text" class="form-control" name="Muestra" />
    <label>Diagnostico</label>
    <input type="text" class="form-control" name="Diagnostico" />
    <label>Toma de muestra</label>
    <input type="date" class="form-control" name="TomaDeMuestra" />
    <label>Recepcion</label>
    <input type="date" class="form-control" name="Recepcion" />
    <label>Numero de laminas</label>
    <input type="text" class="form-control" name="NumeroDeLaminas" />
    <label>Tincion</label>
    <input type="text" class="form-control" name="Tincion" />
    <label>Estudio Microscopico</label>
    <select name="Descripcion" class="form-control">
      {% for i,j in estmicroscopico %}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>
    <label> Calidad de Muestra</label>
    <!-- <div name="CalidadDeMuestra" class="form-control">calidad.as_p</div> -->

    <!-- <select class="form-control">
    </select> -->
    <!-- <div name="CalidadDeMuestra" class="form-control">{{calidad}}</div> -->

    <select name="CalidadDeMuestra" class="form-control">
      {% for i,j in calidad %}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Microrganismos </label>
    <select name="Microrganismos" class="form-control">
      {% for i,j in microrgs%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Hallazgos no neoplasicos </label>
    <select name="Hallazgos" class="form-control">
      {% for i,j in hallazgos%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Celulas Escamosas </label>
    <select name="CelEscamosas" class="form-control">
      {% for i,j in escamosas%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Celulas Glandulares </label>
    <select name="CelGlandulares" class="form-control">
      {% for i,j in glandulares%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Evaluacion Hormonal </label>
    <select name="EvaluacionHormonal" class="form-control">
      {% for i,j in evaluacion%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label> Inflamacion </label>
    <select name="Inflamacion" class="form-control">
      {% for i,j in inflamacion%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label>Conclusion</label>
    <select name="Conclusion" class="form-control">
      {% for i,j in conclusion%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label>Recomendacion</label>
    <input type="text" class="form-control" name="Recomendacion" />

    <label>Fecha Informe</label>
    <input type="date" class="form-control" name="FechaPie" />

    <label> Lugar </label>
    <select name="Lugar" class="form-control">
      {% for i,j in lugar%}
      <option value="{{i}}">{{j}}</option>
      {% endfor %}
    </select>

    <label>Doctor Name</label>
    <select name="doctor" class="form-control">
      {% for i in doctor %}
      <option value="{{i.Name}}">{{i.Name}}</option>
      {% endfor %}
    </select>

    <!-- <form method="POST" name="CalidadDeMuestra" class="form-control">
      {{ calidad }}
    </form> -->
    <input type="submit" value="submit" class="form-control btn btn-primary" />
  </form>
</div>

{%endblock content %}
