{% include 'base.html' %} {% include 'navigation.html' %} {% block content %}
{%if error == "no"%}
<script>
  alert("Record saved successfully");
  window.location = "{% url 'view_informe'%}";
</script>
{% endif %} {%if error == "yes"%}
<script>
  alert("something went wrong please try again");
  //   window.location = "{% url 'home'%}";
</script>
{% endif %}

<div class="container">
  <h2 class="text-center">Modificar Informe Citologico</h2>
  <form method="POST">
    {% csrf_token %}
    <label>Codigo de informe</label>
    <input
      type="text"
      class="form-control"
      name="Codigo"
      value="{{paciente.CodigoInformeCito2.Codigo}}"
    />
    <label>Nombres del paciente</label>
    <input
      type="text"
      class="form-control"
      name="Nombres"
      value="{{paciente.PacienteInformeCito2.Nombres}}"
    />
    <label>Apellidos del paciente</label>
    <input
      type="text"
      class="form-control"
      name="Apellidos"
      value="{{paciente.PacienteInformeCito2.Apellidos}}"
    />
    <label>Edad</label>
    <input
      type="text"
      class="form-control"
      name="Edad"
      value="{{paciente.PacienteInformeCito2.Edad}}"
    />
    <label>Medico</label>
    <input
      type="text"
      class="form-control"
      name="Medico"
      value="{{paciente.PacienteInformeCito2.Medico}}"
    />
    <label>Hospital</label>
    <input
      type="text"
      class="form-control"
      name="Hospital"
      value="{{paciente.PacienteInformeCito2.Hospital}}"
    />
    <label>Muestra</label>
    <input
      type="text"
      class="form-control"
      name="Muestra"
      value="{{paciente.PacienteInformeCito2.Muestra}}"
    />
    <label>Diagnostico</label>
    <input
      type="text"
      class="form-control"
      name="Diagnostico"
      value="{{paciente.PacienteInformeCito2.Diagnostico}}"
    />

    <div style="text-align: center">
      <a class="btn btn-success" href="{% url 'ver_informe' paciente.id%}">
        Cancelar</a
      >
    </div>
    <input type="submit" value="submit" class="form-control btn btn-primary" />
  </form>
</div>

{%endblock content %}
