{% include 'base.html' %} {% include 'navigation.html' %} {% block content %}
{%if error == "no"%}
<script>
  alert("Record saved successfully");
  window.location = "{% url 'view_informe'%}";
</script>
{% endif %} {%if error == "yes"%}
<script>
  alert("something went wrong please try again");
  //   window.location = "{% url 'home'%}";
</script>
{% endif %}

<div class="container">
  <h2 class="text-center">Modificar Datos Muestraaa</h2>
  <div> {{estmicrosSelected}}</div>
  <form method="POST">
    {% csrf_token %}
    <label>Estudio Microscopico</label>
    <select name="Descripcion" class="form-control" value="{{paciente.EstudioMicroscopicoInformeCito.Descripcion}}">
      {% for i,j in estmicroscopico %}
        <option 
        value="{{i}}" 
        {% if j == paciente.EstudioMicroscopicoInformeCito.get_Descripcion_display %} selected {% endif %}>
        {{j}} </option>
      {% endfor %}
    </select>
    <label> Calidad de Muestra</label>
    <!-- <div name="CalidadDeMuestra" class="form-control">calidad.as_p</div> -->

    <!-- <select class="form-control">
    </select> -->
    <!-- <div name="CalidadDeMuestra" class="form-control">{{calidad}}</div> -->

    <select name="CalidadDeMuestra" class="form-control">
      {% for i,j in calidad %}
      <option value="{{i}}" 
      {% if j == paciente.CalidadDeMuestraInformeCito.get_Calidad_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Microrganismos </label>
    <select name="Microrganismos" class="form-control">
      {% for i,j in microrgs%}
      <option value="{{i}}" 
      {% if j == paciente.MicrorganismosInformeCito.get_Microrgs_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Hallazgos no neoplasicos </label>
    <select name="Hallazgos" class="form-control">
      {% for i,j in hallazgos%}
      <option value="{{i}}" 
      {% if j == paciente.HallazgosInformeCito.get_NoNeoplasicos_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Celulas Escamosas </label>
    <select name="CelEscamosas" class="form-control">
      {% for i,j in escamosas%}
      <option value="{{i}}" 
      {% if j == paciente.CelEscamosasInformeCito.get_Escamosas_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Celulas Glandulares </label>
    <select name="CelGlandulares" class="form-control">
      {% for i,j in glandulares%}
      <option value="{{i}}"
      {% if j == paciente.CelGlandularesInformeCito.get_Glandulares_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Evaluacion Hormonal </label>
    <select name="EvaluacionHormonal" class="form-control">
      {% for i,j in evaluacion%}
      <option value="{{i}}"
      {% if j == paciente.EvaluacionHormonalInformeCito.get_Evaluacion_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>

    <label> Inflamacion </label>
    <select name="Inflamacion" class="form-control">
      {% for i,j in inflamacion%}
      <option value="{{i}}"
      {% if j == paciente.InflamacionInformeCito.get_Inflamacion_display %} selected {% endif %}>
      {{j}}</option>
      {% endfor %}
    </select>


    <!-- <form method="POST" name="CalidadDeMuestra" class="form-control">
      {{ calidad }}
    </form> -->
    <div style="text-align: center">
      <a class="btn btn-success" href="{% url 'ver_informe' paciente.id%}">
        Cancelar</a
      >
    </div>
    <input type="submit" value="submit" class="form-control btn btn-primary" />
  </form>
</div>

{%endblock content %}
