<!-- <h2 class="text-center">Informe Citologico</h2>
<table id="example" class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
    </tr>
  </thead>
  <body>
    <tr>
      <td>{{paciente.PacienteInforme.Nombre}}</td>
      <td>{{paciente.PacienteInforme.Edad}}</td>
    </tr>
  </body>
  <thead>
    <tr>
      <th>Senod</th>
      <th>Crse</th>
    </tr>
  </thead>
  <body>
    <tr>
      <td>{{paciente.PacienteInforme.Nombre}}</td>
      <td>{{paciente.PacienteInforme.Edad}}</td>
    </tr>
  </body>
</table> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PDF Report</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2 class="text-center">Informe Citologico</h2>
    <div class="text-center">Codigo{{paciente.CodigoInformeCito2.Codigo}}</div>
    <div class="text-left"><b>Datos Paciente</b></div>
    <table id="example1" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>
            Nombre: {{paciente.PacienteInformeCito2.Nombres}}
            {{paciente.PacienteInformeCito2.Apellidos}}
          </td>
          <td>Edad: {{paciente.PacienteInformeCito2.Edad}} años</td>
        </tr>
        <tr>
          <td>Medico: {{paciente.PacienteInformeCito2.Medico}}</td>
          <td>Hospital/Clinica: {{paciente.PacienteInformeCito2.Hospital}}</td>
        </tr>
        <tr>
          <td>Muestra: {{paciente.PacienteInformeCito2.Muestra}}</td>
          <td>Diagnostico: {{paciente.PacienteInformeCito2.Diagnostico}}</td>
        </tr>
      </body>
    </table>
    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_datos_paciente' paciente.id %}"
      >
        Modificar Datos Paciente</a
      >
    </div>

    <div class="text-left"><b>Muestra</b></div>
    <table id="example2" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>
            Toma de muestra: {{paciente.MuestraInformeCito2.TomaDeMuestra}}
          </td>
          <td>Recepcion: {{paciente.MuestraInformeCito2.Recepcion}}</td>
        </tr>
        <tr>
          <td>
            N° de laminas: {{paciente.MuestraInformeCito2.NumeroDeLaminas}}
          </td>
          <td>Tincion: {{paciente.MuestraInformeCito2.Tincion}}</td>
        </tr>
      </body>
    </table>

    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_muestra_paciente' paciente.id %}"
      >
        Modificar Datos Muestra</a
      >
    </div>

    <div class="text-left"><b>TABLA CENTRAL</b></div>
    <table id="example3" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>Estudio Microscopico</td>
          <td>
            {{paciente.EstudioMicroscopicoInformeCito2}}
          </td>
        </tr>
        <tr>
          <td>I. Calidad de Muestra</td>
          <td>{{paciente.CalidadDeMuestraInformeCito2}}</td>
        </tr>
        <tr>
          <td>II. Microorganismos</td>
          <td>{{paciente.MicrorganismosInformeCito2}}</td>
        </tr>
        <tr>
          <td>III. Hallazgos no neoplasicos</td>
          <td>{{paciente.HallazgosInformeCito2}}</td>
        </tr>
        <tr>
          <td>IV. Anomalia de Células Epiteliales</td>
          <td></td>
        </tr>
        <tr>
          <td>Células Escamosas</td>
          <td>{{paciente.CelEscamosasInformeCito2}}</td>
        </tr>
        <tr>
          <td>Células Glandulares</td>
          <td>
            {{paciente.CelGlandularesInformeCito2}}
          </td>
        </tr>
        <tr>
          <td>V. Inflamacion</td>
          <td>{{paciente.InflamacionInformeCito2}}</td>
        </tr>
        <tr>
          <td>VI. Patron Hormonal</td>
          <td>
            {{paciente.EvaluacionHormonalInformeCito2}}
          </td>
        </tr>
        <tr></tr>
      </body>
    </table>

    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_tabla_central_paciente' paciente.id %}"
      >
        Modificar Tabla Central</a
      >
    </div>

    <div class="text-left"><b>PARTE FINAL</b></div>
    <table id="example4" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>Conclusion:</td>
          <td>{{paciente.ConclusionInformeCito2}}</td>
        </tr>
        <tr>
          <td>Recomendacion:</td>
          <td>{{paciente.RecomendacionInformeCito2}}</td>
        </tr>
        <tr>
          <td>Lugar:</td>
          <td>{{paciente.LugarInformeAnato2.get_Lugar_display}}</td>
        </tr>
        <tr>
          <td>Fecha del informe:</td>
          <td>{{paciente.FechaPieInformeAnato2.Fecha}}</td>
        </tr>
        <!-- <tr>
          <td>Opcional:</td>
          <td>{{paciente.OpcionalInformeCito2}}</td>
        </tr> -->

      </body>
    </table>

    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_conclusion_paciente' paciente.id %}"
      >
        Modificar Parte Final</a
      >
    </div>
    <div
      class="container shadow"
      style="max-width: 640px; margin: auto; margin-top: 2em; padding: 2em"
    >
      <h4>PARA OBTENER EL INFORME EN PDF (CON FIRMA):</h4>
      <a class="btn btn-success" href="{% url 'report' paciente.id 1%}">
        Generar informe</a
      >
    </div>

    <div
      class="container shadow"
      style="max-width: 640px; margin: auto; margin-top: 2em; padding: 2em"
    >
      <h4>PARA OBTENER EL INFORME EN PDF (SIN FIRMA):</h4>
      <a class="btn btn-success" href="{% url 'report' paciente.id 2%}">
        Generar informe</a
      >
    </div>
  </body>
</html>
