<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PDF Report</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2 class="text-center">Informe ANATOMICO</h2>
    <div class="text-center">Codigo: {{paciente.CodigoInformeAnatomico}}</div>
    <div class="text-left"><b>Datos Paciente</b></div>
    <table id="example1" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>
            Nombre: {{paciente.NombresInformeAnatomico}}
            {{paciente.ApellidosInformeAnatomico}}
          </td>
          <td>Edad: {{paciente.EdadInformeAnatomico}} años</td>
        </tr>
        <tr>
          <td>Medico: {{paciente.MedicoInformeAnatomico}}</td>
          <td>Hospital/Clinica: {{paciente.HospitalInformeAnatomico}}</td>
        </tr>
        <tr>
          <td>Muestra: {{paciente.MuestraInformeAnatomico}}</td>
          <td>Diagnostico: {{paciente.DiagnosticoInformeAnatomico}}</td>
        </tr>
      </body>
    </table>
    
    <div class="text-left"><b>Muestra</b></div>
    <table id="example2" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>
            Recepcion
          </td>
          <td>{{paciente.RecepcionInformeAnatomico}}</td>
        </tr>
      </body>
    </table>


    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_datos_paciente_anat' paciente.id %}"
      >
        Modificar Datos Paciente</a
      >
    </div>

    <div class="text-left"><b>TABLA CENTRAL</b></div>
    <table id="example3" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <body>
        <tr>
          <td>Estudio Macroscopico</td>
        </tr>
        <tr>
          <td>{{paciente.EstudioMacroscopicoInformeAnatomico|linebreaksbr}}</td>
        </tr>
        
        <tr>
          <td>Estudio Microscopico</td> 
        </tr>
        <tr>
          <td>{{paciente.EstudioMicroscopicoInformeAnatomico|linebreaksbr}}</td>
        </tr>
      </body>
    </table>

    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_tabla_central_paciente_anat' paciente.id %}"
      >
        Modificar Tabla Central</a
      >
    </div>

    <div class="text-left"><b>PARTE FINAL</b></div>
    <table id="example4" class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <body>
        <tr>
          <td>Conclusion:</td>
          <td>{{paciente.ConclusionInformeAnatomico|linebreaksbr}}</td>
        </tr>
        <tr>
          <td>Especimen:</td>
          <td>{{paciente.EspecimenInformeAnatomico}}</td>
        </tr>
        <tr>
          <td>Lugar:</td>
          <td>{{paciente.LugarInformeAnatomico}}</td>
        </tr>
        <tr>
          <td>Fecha del informe:</td>
          <td>{{paciente.FechaPieInformeAnatomico}}</td>
        </tr>
      </body>
    </table>

    <div style="text-align: center">
      <a
        class="btn btn-success"
        href="{% url 'upd_conclusion_paciente_anat' paciente.id %}"
      >
        Modificar Parte Final</a
      >
    </div>

    <div
      class="container shadow"
      style="max-width: 640px; margin: auto; margin-top: 2em; padding: 2em"
    >
      <h4>PARA OBTENER EL INFORME EN PDF:</h4>
      <a class="btn btn-success" href="{% url 'report_anat' paciente.id%}">
        Generar informe</a
      >
    </div>
  </body>
</html>
