{% include 'base.html' %} {% include 'navigation.html' %} {% block content %}

<div>
  <h2 class="text-center">View Informe</h2>
  <table id="example" class="table table-hover">
    <thead>
      <tr>
        <th>Codigo del informe</th>
        <th>Nombre del paciente</th>
        <th>Apellido del paciente</th>
        <th>fecha de toma</th>
        <!-- <th>Micro</th> -->
        <!-- <th>Macro</th> -->
        <th>VER INFORMe</th>
        <th>Delete</th>
      </tr>
    </thead>
    <body>
      {% for i in inf%}
      <tr>
        <td>{{i.CodigoInformeAnato.Codigo}}</td>
        <td>{{i.PacienteInformeAnato.Nombres}}</td>
        <td>{{i.PacienteInformeAnato.Apellidos}}</td>
        <td>{{i.MuestraInformeAnato.Recepcion}}</td>
        <!-- <td>{{i.EstudioMacroscopicoInformeAnato}}</td> -->
        <!-- <td>{{i.EstudioMicroscopicoInformeAnato}}</td> -->
        <td>
          <a href="{% url 'ver_informe_anat' i.id %}" class="btn btn-primary"
            >VER INFORME</a
          >
        </td>
        <td>
          <a
            href="{% url 'delete_informe_anat' i.id %}"
            onclick="return confirm('Are you sure you want to delete')"
            class="btn btn-danger"
          >
            Delete
          </a>
        </td>
      </tr>
      {% endfor%}
    </body>
  </table>
</div>
{% endblock content%}
